<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>

<body>
    <h1>Home Page <%='Hello world'.toUpperCase()%>
    </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Impedit, maiores atque? Delectus unde natus architecto
        odit ratione, voluptate ad, nam alias assumenda, a voluptatum tenetur excepturi saepe quasi necessitatibus quia!
    </p>

    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dicta voluptatem aut molestiae vitae ex ducimus natus
        quidem optio atque, rerum error aperiam sed in. Amet rerum delectus aut quaerat tenetur.</p>
</body>

</html>